# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

forge-mdk/src/main/java/com/example/examplemod/ExampleMod.java

forge-mdk/README.txt
forge-mdk/LICENSE.txt
forge-mdk/gradlew.bat
forge-mdk/gradlew
forge-mdk/gradle.properties
forge-mdk/CREDITS.txt
forge-mdk/build.gradle
forge-mdk/.gitignore
forge-mdk/.gitattributes
forge-mdk/gradle
forge-mdk/changelog.txt

